@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: Inter, "Noto Sans TC", sans-serif;
  }

  button,
  input:where([type='button']),
  input:where([type='reset']),
  input:where([type='submit']) {
    appearance: button;
  }

  [type='search'] {
    appearance: textfield;
  }

  /* 解決 display: block 與 vertical-align: middle 的衝突警告 */
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    vertical-align: baseline;
  }
}